[Unit]
Description=Ethereum Geth bootnode mainnet
After=network.target

[Service]
Type=forking
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu
EnvironmentFile=/home/ubuntu/.gojoy/mainnet/.env
ExecStart=/home/ubuntu/.gojoy/bootnode-nohup.sh
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bootnode_mainnet

[Install]
WantedBy=multi-user.target
